In [39]:
a=3
b=4

In [5]:
print(a+b)

7

b below 아래 셀 생성 / a above 위 셀 생성 / m 코드 셀을 마크다운으로 변경 / y 마크다운 셀을 코드 셀로 변경
(deactive 상태에서)

> 마크다운 문법정리

https://heropy.blog/2017/09/30/markdown/

In [7]:
import keyword
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [20]:
abs(-3.14)
# 주석
''' ArithmeticError '''

' ArithmeticError '

In [21]:
print("hello","world!",sep="+")
#\n 줄바꿈

hello+world!

In [29]:
print("hello", end="")
print("world")

helloworld

In [1]:
myname="kevin"
age=20
add="incheon"
height=173

print(f"이름은 {myname}, 나이는 {age}, 사는곳은 {add}, 키는 {height}입니다.")

이름은 kevin, 나이는 20, 사는곳은 incheon, 키는 173입니다.

In [4]:
a=int(input("숫자를 입력해주세요"))
print(a)

20

In [63]:
print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"\`   |")
print("||_/=\\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"\`   |
||_/=\\__|

In [8]:
3.2//2 # "//" 몫

2

In [9]:
11%3

2

In [11]:
3**2

9

In [28]:
"apple"[-1:-6:-1] #[0:4] 혼합가능 [ : :(여기엔 간격이 들어갈 수 있다/음수일 경우 역방향)]

'elppa'

In [38]:
len("asd")

3

In [49]:
#1번
name=input(print("이름을 입력하세요.",end=""))
print(name)
age=input(print("나이를 입력하세요.",end=""))
print(age)
print(f"안녕하세요! {name}님 ({age}세)")

#2번
name_2=input(print("이름을 입력하세요.",end=""))
print(name_2)
birth_year=input(print("태어난 년도를 입력하세요",end=""))
print(birth_year)
year=input(print("올해 년도를 입력하세요",end=""))
print(year)
age_2=int(year)-int(birth_year)
print(f"올해는 {year}년, {name_2}님의 나이는 ({age_2}세입니다.)")

이름을 입력하세요.이민성
나이를 입력하세요.20
안녕하세요! 이민성님 (20세)
이름을 입력하세요.이민성
태어난 년도를 입력하세요2000
올해 년도를 입력하세요2024
올해는 2024년, 이민성님의 나이는 (24세입니다.)

In [59]:
#3
a=input("a")
b=input("b")
a=int(a)
result_3=a*int(b[2])
print(result_3)  

#4

result_4=a*int(b[1])
print(result_4)

#5

result_5=a*int(b[0])
print(result_5)
#6

result_6=result_3+(10*result_4)+(100*result_5)
print(result_6)

2360
3776
1416
181720

In [79]:
num=[1,2,3,5,4]
num.sort(reverse=-1) #reverse=false 거꾸로 정렬
num.reverse() # 그냥 뒤집기
print(sorted(num)) #원본 유지 
print(num)
num.remove(1)
num.append(0)
num.insert(2,"2")
num.pop(2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [90]:
rainbow=['red','orange','yellow','green','blue','indigo','purple']

#1 

print(rainbow[1])

#2

print(sorted(rainbow))

#3

rainbow.append('white')
print(rainbow)

#4

del rainbow[2:6]
print(rainbow)

orange
['blue', 'green', 'indigo', 'orange', 'purple', 'red', 'yellow']
['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'purple', 'white']
['red', 'orange', 'purple', 'white']

In [92]:
a=4
b=3

if a>b:
  print("a>b")

a>b

In [95]:
a=int(input("숫자입력"))

if a%2 ==0:
  print("짝수")                         
  
else: print("홀수")

짝수

In [14]:
a=int(input("점수를 입력하세요"))

if a>=90:
  print("a등급입니다.")
elif a>=80:
  print("b등급입니다.")
elif a>=70:
  print("c등급입니다.")
elif a>=60:
  print("d등급입니다.")
else :
  print("e등급입니다.")

e등급입니다.

In [20]:
age=int(input("나이를 숫자로 입력해주세요"))
path=input("결제방법을 선택해주세요. ('카드'또는 '현금'만 입력)")

if 8<=age<14:
  
  if path=="카드":
      print(f"{age}세의 카드 요금은 450원입니다.")
  else : 
      print(f"{age}세의 현금 요금은 450원입니다.")
      
elif 14<=age<20:
  
  if path=="카드":
      print(f"{age}세의 카드 요금은 720원입니다.")
  else : 
      print(f"{age}세의 현금 요금은 1000원입니다.")

elif 20<=age<75:
  
  if path=="카드":
      print(f"{age}세의 카드 요금은 1200원입니다.")
  else : 
      print(f"{age}세의 현금 요금은 1300원입니다.")

else : 
  print(f"{age}세의 요금은 무료입니다.")

20세의 카드 요금은 1200원입니다.
카드

In [41]:
mylist=list("abc")

# "_".join(mylist) #list 사이사이에 join (공백시 통합)

mylist.reverse()
"".join(mylist)
#print(mylist)
print(*mylist) #하나씩 불러오는?

c b a

In [47]:
mylist=list("abc")
print(reversed(mylist))

<list_reverseiterator object at 0x000001CE48487490>

In [ ]:
# 예시 코드
list = ['a','b','c',1,2,3] #index 번호는 0부터 1씩 증가

tuple =(4,5,6) 

set = {'가','나','다','다'} # 중복을 허용하지 않음

dict = {'key':'value'} # 키와 밸류가 한쌍을 이룸