#### pandas - numpy

In [5]:
import pandas as pd 

A = pd.Series([20,21,22],index=['2019','2020','2021']) #인덱스 안해주면 리스트처럼 0123
A

0    20
1    21
2    22
dtype: int64

In [28]:
index=['2018','2019','2020','2021'] #index 비교는 앞부터 진행

data={
  '영희':[154,155,156,157],
  '철수':[165,166,167,168]
}

growth=pd.DataFrame(data,columns=['영희','철수'],index=index)
growth.head()

pd.value_counts()

       영희   철수
2018  154  165
2019  155  166
2020  156  167
2021  157  168

In [33]:
pd.value_counts(values='1')

1    1
Name: count, dtype: int64